body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body a {
  color: #FFC837;
  text-decoration: none; }

.text-center {
  text-align: center; }

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.main {
  margin: 60px auto;
  padding: 0;
  text-align: center; }

.main__menu {
  display: inline-block;
  width: 40%;
  text-align: center;
  height: 40em;
  vertical-align: middle; }

.main__menu--menu1 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-right: 40px;
  margin-bottom: 80px; }

.main__menu--menu1 a {
  color: #3c1218;
  background-color: #FCDFDB;
  display: block;
  height: 23em;
  padding-top: 17em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.main__menu--menu1 a span {
  font-size: 2.5em; }

.main__menu--menu1 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main__menu--menu2 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 80px; }

.main__menu--menu2 a {
  color: #c77412;
  background-color: #FFF5FE;
  display: block;
  height: 23em;
  padding-top: 17em; }

.main__menu--menu2 a span {
  font-size: 2.5em; }

.main__menu--menu2 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main__menu--menu3 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-right: 40px; }

.main__menu--menu3 a {
  background-color: #F9F9F9;
  display: block;
  height: 23em;
  padding-top: 17em; }

.main__menu--menu3 a em {
  background: #0557af;
  background: linear-gradient(90deg, #0557af 0%, #adf5ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px; }

.main__menu--menu3 a span {
  font-size: 2.5em;
  vertical-align: middle;
  line-height: 2em; }

.main__menu--menu3 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main__menu--menu4 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-left: 40px; }

.main__menu--menu4 a {
  background-color: #FDFFFD;
  display: block;
  height: 23em;
  padding-top: 17em; }

.main__menu--menu4 a em {
  background: #007105;
  background: linear-gradient(90deg, #007105 0%, #7aff3f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px; }

.main__menu--menu4 a span {
  font-size: 2.5em; }

.main__menu--menu4 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main .next {
  color: #FFC837;
  display: inline-block;
  text-align: left;
  margin: 40px;
  background-color: #579c87;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 200px;
  max-width: 200px;
  overflow: hidden; }

.main .next::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-animation: ellipsis steps(4, end) 1.5s infinite;
  animation: ellipsis steps(10, end) 1.5s infinite;
  content: "\2026";
  /*  code ascii for ellipsis */
  width: 0px; }

.main .img-fluid {
  max-width: 95%;
  height: auto; }

.main-page {
  margin: 0 auto 100px auto;
  background-color: #FCDFDB;
  text-align: center;
  width: 80%; }

.main-page table {
  padding: 0 20px;
  width: 80%; }

.cool-link {
  text-align: center;
  display: inline-block; }

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s; }

.cool-link:hover::after {
  width: 100%;
  transition: width .3s; }

img {
  padding: 0;
  margin: 0; }

header {
  background-color: #579c87;
  text-align: center;
  padding: 0;
  margin-bottom: 40px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1140px;
  text-align: center;
  background-color: #579c87;
  margin: 0 0 0 0;
  padding: 0; }

footer div {
  padding: 20px 0;
  display: inline-block;
  width: 49%; }

footer div:first-of-type {
  text-align: left; }

footer div:last-of-type {
  text-align: right; }

footer div a {
  color: #FFC837;
  font-size: 1.1em;
  animation: shake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  display: inline-block; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes ellipsis {
  to {
    width: 1.5em; } }

@-webkit-keyframes ellipsis {
  to {
    width: 1.5em; } }
