$base-color: #579c87;
$text-color: #FFC837;
$menu1-color: #FCDFDB;
$menu2-color: #FFF5FE;
$menu3-color: #EEEFF1;
$menu4-color: #FDFFFD;
@mixin size-font-menu {
    font-size: 2.5em;
}

@mixin zoom {
    // zoom
    transition: all .5s ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    transform: scale(1.2);
    opacity: 0.5;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    a {
        color: $text-color;
        text-decoration: none;
    }
}

.text-center {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin: 60px auto;
    padding: 0;
    text-align: center;
    &__menu {
        display: inline-block;
        width: 40%;
        text-align: center;
        height: 40em;
        vertical-align: middle;
        &--menu1 {
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            margin-right: 40px;
            margin-bottom: 80px;
            a {
                color: #3c1218;
                background-color: $menu1-color;
                display: block;
                height: 23em;
                padding-top: 17em;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                span {
                    @include size-font-menu;
                }
                &:hover {
                    @include zoom;
                }
            }
        }
        &--menu2 {
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            margin-left: 40px;
            margin-bottom: 80px;
            a {
                color: #c77412;
                background-color: $menu2-color;
                display: block;
                height: 23em;
                padding-top: 17em;
                span {
                    @include size-font-menu;
                }
                &:hover {
                    @include zoom;
                }
            }
        }
        &--menu3 {
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            // padding: 60px 30px 0 0;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            margin-right: 40px;
            a {
                background-color: $menu3-color;
                display: block;
                height: 23em;
                padding-top: 17em;
                em {
                    background: rgb(5, 87, 175);
                    background: linear-gradient(90deg, rgba(5, 87, 175, 1) 0%, rgba(173, 245, 255, 1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    padding: 10px
                }
                span {
                    @include size-font-menu;
                    vertical-align: middle;
                    line-height: 2em;
                }
                &:hover {
                    @include zoom;
                }
            }
        }
        &--menu4 {
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            margin-left: 40px;
            // padding: 60px 0 0 30px;
            a {
                background-color: $menu4-color;
                display: block;
                height: 23em;
                padding-top: 17em;
                em {
                    // background: -webkit-linear-gradient(275deg, #a8d4fa, #207ce5);
                    // au cas ou gradient pas pris en compte
                    background: rgb(0, 113, 5);
                    background: linear-gradient(90deg, rgba(0, 113, 5, 1) 0%, rgba(122, 255, 63, 1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    padding: 10px
                }
                span {
                    @include size-font-menu;
                }
                &:hover {
                    @include zoom;
                }
            }
        }
    }
    .next {
        color: $text-color;
        display: inline-block;
        text-align: left;
        margin: 40px;
        background-color: $base-color;
        padding: 5px 30px;
        border-radius: 10px;
        font-size: 1.5em;
        line-height: 1.5em;
        width: 200px;
        max-width: 200px;
        overflow: hidden;
        &::after {
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            -webkit-animation: ellipsis steps(4, end) 1.5s infinite;
            animation: ellipsis steps(10, end) 1.5s infinite;
            content: "\2026";
            /*  code ascii for ellipsis */
            width: 0px;
            // font-size: 2em;
        }
    }
    .img-fluid {
        // max-width: 100%;
        max-width: 95%;
        height: auto;
    }
}

.main-page {
    // margin: 0 auto;
    margin: 0 auto 100px auto;
    text-align: center;
    width: 90%;
    table {
        padding: 0 20px;
        width: 80%;
    }
    &__menu1 {
        background-color: $menu1-color;
    }
    &__menu2 {
        background-color: $menu2-color;
    }
    &__menu3 {
        background-color: $menu3-color;
    }
    &__menu4 {
        background-color: $menu4-color;
    }
}

.cool-link {
    text-align: center;
    display: inline-block;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

img {
    padding: 0;
    margin: 0;
}

header {
    background-color: $base-color;
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1140px;
    text-align: center;
    background-color: $base-color;
    margin: 0 0 0 0;
    padding: 0;
    div {
        padding: 20px 0;
        display: inline-block;
        width: 49%;
        &:first-of-type {
            text-align: left;
        }
        &:last-of-type {
            text-align: right;
        }
        a {
            color: $text-color;
            font-size: 1.1em;
            animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            display: inline-block;
        }
    }
}

// animation shake
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

// animation ellipsis
@keyframes ellipsis {
    to {
        width: 1.5em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.5em;
    }
}

// .col-md-12 {
//     width: 100%;
// }
// .col-md-11 {
//     width: 91.66666667%;
// }
// .col-md-10 {
//     width: 83.33333333%;
// }
// .col-md-9 {
//     width: 75%;
// }
// .col-md-8 {
//     width: 66.66666667%;
// }
// .col-md-7 {
//     width: 58.33333333%;
// }
// .col-md-6 {
//     width: 50%;
// }
// .col-md-5 {
//     width: 41.66666667%;
// }
// .col-md-4 {
//     width: 33.33333333%;
// }
// .col-md-3 {
//     width: 25%;
// }
// .col-md-2 {
//     width: 16.66666667%;
// }
// .col-md-1 {
//     width: 8.33333333%;
// }