@import url("https://fonts.googleapis.com/css?family=PT+Serif:700|Source+Serif+Pro|Cantata+One|Caveat|Croissant+One|Dancing+Script|Devonshire|Itim|Kaushan+Script|Sree+Krushnadevaraya&display=swap");
@font-face {
  font-family: "Segoe print";
  src: url("../fonts/segoepr.ttf"); }

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body a {
  color: #FFC837;
  text-decoration: none; }

body .container > h1 {
  font-size: 2.5em; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.main {
  margin: 60px auto;
  padding: 0;
  text-align: center; }

.main__menu {
  display: inline-block;
  width: 40%;
  text-align: center;
  height: 600px;
  vertical-align: middle;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.main__menu--menu1 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
  margin-bottom: 80px;
  font-family: 'Devonshire';
  font-size: 2.5em; }

.main__menu--menu1 img {
  width: 20%; }

.main__menu--menu1 a {
  color: #3c1218;
  background-color: #FCDFDB;
  display: block;
  height: 100%;
  padding-top: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.main__menu--menu1 a span {
  font-weight: bold;
  font-family: "Segoe print"; }

.main__menu--menu1 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main__menu--menu2 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 80px;
  font-size: 2em; }

.main__menu--menu2 a {
  color: #c77412;
  background-color: #FFF5FE;
  display: block;
  height: 100%;
  padding-top: 50%;
  font-family: 'Croissant One'; }

.main__menu--menu2 a em {
  font-style: normal;
  background: linear-gradient(92deg, #e38a12 0%, #955aff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.main__menu--menu2 a span {
  display: inline-block;
  padding-top: 30px;
  font-size: 1.9em;
  font-family: "Cantata One";
  font-weight: 600; }

.main__menu--menu2 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main__menu--menu3 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
  font-family: 'Dancing Script';
  font-size: 3em; }

.main__menu--menu3 a {
  background-color: #EEEFF1;
  display: block;
  height: 100%;
  padding-top: 50%;
  color: #0887fb !important; }

.main__menu--menu3 a em {
  font-style: normal;
  background: linear-gradient(92deg, #0825db 0%, #0889fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px; }

.main__menu--menu3 a span {
  font-family: "Segoe print", "Caveat";
  vertical-align: middle;
  line-height: 2em; }

.main__menu--menu3 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main__menu--menu4 {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  margin-left: 40px;
  font-size: 3em; }

.main__menu--menu4 a {
  background-color: #FDFFFD;
  display: block;
  height: 100%;
  padding-top: 50%;
  font-family: 'Kaushan Script';
  color: #72bf56; }

.main__menu--menu4 a em {
  font-style: normal;
  background: #007105;
  background: linear-gradient(90deg, #3e923a 0%, #bcfd7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px; }

.main__menu--menu4 a span {
  font-family: "Segoe print", "Caveat"; }

.main__menu--menu4 a:hover {
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
  opacity: 0.5; }

.main .next {
  color: #FFC837;
  display: inline-block;
  text-align: left;
  margin: 60px;
  background-color: #579c87;
  padding: 0 30px 0 130px;
  border-radius: 10px;
  font-size: 2.3em;
  line-height: 2em;
  width: 380px;
  overflow: hidden;
  letter-spacing: 1px; }

.main .next::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-animation: ellipsis steps(4, end) 1.5s infinite;
  animation: ellipsis steps(10, end) 1.5s infinite;
  content: "\2026";
  /*  code ascii for ellipsis */
  width: 0px; }

.main .img-fluid {
  max-width: 95%;
  height: auto; }

.main-menu {
  padding: 0 10%; }

.main-page {
  margin: 0 auto 100px auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 150px; }

.main-page h3 {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.main-page table {
  margin-bottom: 60px;
  width: 100%; }

.main-page__menu1 {
  background-color: #FCDFDB;
  padding-left: 7%;
  padding-right: 7%;
  color: #3c1218;
  font-family: "Segoe print";
  font-size: 1.2em;
  font-weight: normal; }

.main-page__menu1 img {
  width: 35%; }

.main-page__menu1 h1 {
  font-weight: normal;
  font-family: 'Devonshire';
  font-size: 2.7em; }

.main-page__menu1 h1 img {
  width: 10%; }

.main-page__menu1 .signature {
  margin-top: 50px;
  font-size: 2.2em;
  font-weight: normal;
  font-family: 'Devonshire'; }

.main-page__menu1 .signature img {
  width: 6%;
  padding-bottom: 5px; }

.main-page__menu1 td {
  line-height: 2em; }

.main-page__menu2 {
  font-size: 1.2em;
  font-family: 'Source Serif Pro';
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFF5FE; }

.main-page__menu2 h1 {
  font-family: 'Croissant One';
  background: linear-gradient(92deg, #e38a12 0%, #955aff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 60px;
  margin-bottom: 60px; }

.main-page__menu2 img {
  width: 34%; }

.main-page__menu2 td {
  line-height: 2em; }

.main-page__menu2 h3 {
  display: inline-block;
  font-family: 'PT Serif';
  /* TODO A TRANSFORMER EN MIXIN */
  color: #A7699C; }

.main-page__menu2 h3:first-of-type {
  color: #CC7000; }

.main-page__menu2 h3:last-of-type {
  color: #6355CE; }

.main-page__menu2 table {
  padding: 0 12%;
  color: #A7699C; }

.main-page__menu2 table:first-of-type {
  color: #CC7000; }

.main-page__menu2 table:last-of-type {
  color: #6355CE; }

.main-page__menu3 {
  font-family: "Segoe print", "Caveat";
  background-color: #EEEFF1; }

.main-page__menu3 h1 {
  font-weight: normal;
  font-family: 'Dancing Script';
  font-size: 4.5em;
  background: linear-gradient(92deg, #0825db 0%, #0889fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px; }

.main-page__menu3 h3 {
  font-weight: normal;
  width: 90%;
  padding: 0 5%; }

.main-page__menu3 h3 img {
  width: 33%; }

.main-page__menu3 img {
  width: 35%; }

.main-page__menu3 table {
  padding: 0 15%; }

.main-page__menu3 td {
  line-height: 2em; }

.main-page__menu4 {
  font-family: "Segoe print", "Caveat";
  background-color: #FDFFFD; }

.main-page__menu4 h1 {
  font-size: 4em;
  font-weight: normal;
  font-family: 'Kaushan Script';
  color: #72bf56;
  background: #007105;
  background: linear-gradient(90deg, #3e923a 0%, #bcfd7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px; }

.main-page__menu4 h3 {
  font-weight: normal; }

.main-page__menu4 table {
  padding: 0 10%; }

.main-page__menu4 img {
  width: 35%; }

.main-page__menu4 td {
  line-height: 2em; }

.cool-link {
  text-align: center;
  display: inline-block; }

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #579C87;
  transition: width .3s; }

.cool-link:hover::after {
  width: 100%;
  transition: width .3s; }

img {
  padding: 0;
  margin: 0;
  vertical-align: middle; }

header {
  background-color: #579c87;
  text-align: center;
  padding: 30px;
  margin-bottom: 40px; }

header img {
  width: 30%; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1140px;
  text-align: center;
  background-color: #579c87;
  margin: 0 0 0 0;
  padding: 0; }

footer div {
  padding: 20px 0;
  display: inline-block;
  width: 47%; }

footer div:first-of-type {
  text-align: left;
  padding-left: 1%; }

footer div:last-of-type {
  text-align: right;
  padding-right: 1%; }

footer div a {
  color: #FFC837;
  font-size: 1.8em;
  letter-spacing: 1px; }

footer div a:hover {
  animation: shake 1.5s infinite;
  backface-visibility: hidden;
  perspective: 1000px;
  display: inline-block; }

@media only screen and (max-width: 991px) {
  .main-page h3 img {
    max-width: 20%; } }

@media only screen and (max-width: 768px) {
  .main__menu {
    height: 400px; }
  .main__menu a {
    padding-top: 30%; }
  .main__menu a span {
    font-size: 1em; }
  .main-page h3 img {
    max-width: 20%; } }

@media only screen and (max-width: 500px) {
  header img {
    width: 80%; }
  .main__menu {
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 5%; }
  .main .next {
    display: block;
    max-width: 90%;
    font-size: 1.5em;
    padding: 0;
    margin: 0 5% 100px 5%;
    text-align: center; }
  footer div {
    display: block;
    width: 100%; }
  footer div:first-of-type {
    text-align: center;
    padding: 0; }
  footer div:last-of-type {
    text-align: center;
    padding: 0; }
  footer div a {
    font-size: 1.5em;
    padding: 0;
    margin: 0; }
  .main-page h1 {
    font-size: 1.7em; }
  .main-page h1 img {
    width: 30%; }
  .main-page h3 img {
    display: none; }
  .main-page tr > td {
    font-size: 0.8em; }
  .main-page__menu1 .signature {
    font-size: 1.7em; }
  .main-page__menu1 .signature img {
    width: 10%; }
  .main-page .cool-link {
    display: block;
    width: 100%;
    text-align: center; } }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes ellipsis {
  to {
    width: 1.5em; } }
